<article style='background-image: url({{{backgroundImageUrl}}})' class='sec'>
	<div class='sec10_content'>
		<div class='sec10_title anim' anim-name='anim-translate-top' anim-duration='0.3s' anim-delay='0.2s' anim-mode='both'>{{{title}}}</div>
		<div class='sec10_swipe anim' anim-name='anim-translate-right' anim-duration='0.2s' anim-delay='0' anim-mode='both'>
			<div class='swiper-container' id='swipe_ver'>
				<div class='swiper-wrapper'>
					<div class='swiper-slide'>
						<img src='img/pic2.jpg' class='anim' anim-name='anim-translate-left-top' anim-duration='0.5s' anim-delay='0.5s' anim-mode='both' style='width:250px'>
					</div>
					<div class='swiper-slide'>
						<img src='img/pic1.jpg' class='anim' anim-name='anim-translate-left-top' anim-duration='0.5s' anim-delay='0.5s' anim-mode='both' style='width:250px'>
					</div>
					<div class='swiper-slide'>
						<img src='img/pic2.jpg' class='anim' anim-name='anim-translate-left-top' anim-duration='0.5s' anim-delay='0.5s' anim-mode='both' style='width:250px'>
					</div>
					<div class='swiper-slide'>
						<img src='img/pic1.jpg' class='anim' anim-name='anim-translate-left-top' anim-duration='0.5s' anim-delay='0.5s' anim-mode='both' style='width:250px'>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
