<article style='background-image: url({{{backgroundImageUrl}}})' class='sec'>
<div class='sec8_content'>
	<div class='sec8_title anim' anim-name='anim-translate-leftFar' anim-duration='0.2s' anim-delay='0.2s' anim-mode='both'><span>{{{title}}}</span></div>
	<div class='sec8_text anim' anim-name='anim-translate-right' anim-duration='0.2s' anim-delay='0' anim-mode='both'>{{{text}}}</div>
	<div class='sec8_video video_btn anim' anim-name='anim-scale-shake' anim-duration='0.5s' anim-delay='0.2s' anim-mode='both'></div>
</div>
</article>
