<article style='background-image: url({{{backgroundImageUrl}}})' class='sec'>
	<div class='sec5_content anim' anim-name='anim-red-color' anim-duration='0.6s' anim-delay='0' anim-mode='both'>
		<div class='sec5_title anim' anim-name='anim-translate-top' anim-duration='0.2s' anim-delay='0.2s' anim-mode='both'>{{{title}}}</div>
		<div class='sec5_text anim' anim-name='anim-translate-bottom' anim-duration='0.2s' anim-delay='0' anim-mode='both'>{{{text}}}</div>
		<div class='sec5_music music_btn anim' anim-name='anim-scale-shake' anim-duration='0.5s' anim-delay='0.4s' anim-mode='both'><span></span></div>
	</div>
</article>
