<article style='background-image: url({{{backgroundImageUrl}}})' class='sec border'>
<div class='sec4_content'>
	<div class='sec4_title anim' anim-name='anim-translate-right' anim-duration='0.2s' anim-delay='0.2s' anim-mode='both'><span>{{{title}}}</span></div>
	<div class='sec4_text anim' anim-name='anim-translate-left' anim-duration='0.2s' anim-delay='0' anim-mode='both'>{{{text}}}</div>
	<div class='sec4_video video_btn anim' onclick="playmovie()" movieurl="http://www.baidu.com"anim-name='anim-scale-shake' anim-duration='0.5s' anim-delay='0.4s' anim-mode='both'></div>
</div>
</article>
