<article style='background-image: url({{{backgroundImageUrl}}})' class='sec'>
<div class='sec7_content'>
	<div class='sec7_title anim' anim-name='anim-translate-top' anim-duration='0.2s' anim-delay='0.2s' anim-mode='both'>
	<span class='pic anim' anim-name='anim-translate-top' anim-duration='0.2s' anim-delay='0.4s' anim-mode='both'>
	<img src='img/man.png'></span> 
	<b><span class='name'>{{{title}}}</span></b>
	</div>
	<div class='sec7_text anim' anim-name='anim-translate-bottom' anim-duration='0.2s' anim-delay='0' anim-mode='both'>{{{text}}}</div>
</div>
<div class='sec7_video video_btn anim' anim-name='anim-scale-shake' anim-duration='0.5s' anim-delay='0.6s' anim-mode='both'></div>
</article>
