<article style='background-image: url({{{backgroundImageUrl}}})' class='sec'>
	<div class='sec11_title anim' anim-name='anim-translate-top' anim-duration='0.2s' anim-delay='0.2s' anim-mode='both'>
		<img src='img/dot.png'>{{{title}}}
	</div>
	<div class='sec11_pic anim' anim-name='anim-translate-right-shake' anim-duration='0.2s' anim-delay='0.4s' anim-mode='both'>
		<img src='img/sec11_pic1.png'>
		<img src='img/sec11_pic2.png'>
	</div>
	<div class='sec11_text anim' anim-name='anim-translate-bottom' anim-duration='0.2s' anim-delay='0s' anim-mode='both'>{{{text}}}</div>
</article>
