<article class='sec sec12'>
	<div class='sec12_logo'>
	<img src='img/sec12_logo.jpg'></div>  
	<div class='sec12_text'>更多两会深度报道，请浏览：</div>
	<div class='sec12_pic1'><img src='img/sec12_pic1.jpg'></div>  
	<div class='sec12_pic2'><img src='img/sec12_pic2.jpg'></div>
</article>