<article style='background-image: url({{{backgroundImageUrl}}})' class='sec border'>
	<div class='jiao'></div>
	<div id="shadow" class="opa_bg"></div>
	<div class='china_logo anim' anim-name='anim-translate-top' anim-duration='0.2s' anim-delay='0' anim-mode='both'>
		<img src='img/china_logo.png'>
	</div>
	<div class='ztlh anim' anim-name='anim-translate-bottom' anim-duration='0.2s' anim-delay='0' anim-mode='both'>
		<img src='img/ztlh.png'>
	</div>
	<div class='date anim' anim-name='anim-scale-shake' anim-duration='0.3s' anim-delay='0.3s' anim-mode='both'>
		<strong>{{{number}}}</strong>
		<span>{{{date}}}</span>
	</div>
	<div class='arrow anim' anim-name='anim-scale-shake' anim-duration='0.3s' anim-delay='0.3s' anim-mode='both'>
		<img src='img/arrow.png'>
	</div>
</article>